*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html{
  scroll-behavior: smooth;

}

a{
  text-decoration: none;
  color: #000;
}

div.menu {
  background-color: #F5F5DC;
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 50%;
  bottom: 1rem;
  right: 1rem;
  position: fixed;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0, 0.6, 0.40, 1) ;
  box-shadow: 0px 0px 0px 0vw #F5F5DC, 0px 0px 0px 0vh #F5F5DC;
  z-index: 1000;
}

ul {
  display: none;
  list-style: none;
  position: fixed;
  z-index: 1000;
}

.hamburguer{
  z-index: 1000;
  transition: all 0.5s ease-in-out;
  background-color: #000;
  position: relative;
  display: block;
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
}

span:after,
span:before {
  transition: all 0.5s ease-in-out;
  content: '';
  background-color: #000;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

span::before {
  top: -10px;
}

span::after {
  bottom: -10px;
}

input:checked ~ label .hamburguer{
  transform: rotate(45deg);
}

input:checked ~ label .hamburguer::after{
  bottom: 0px;
  transform: rotate(90deg);
}

input:checked ~ label .hamburguer::before{
  top: 0px;
  transform: rotate(90deg);
}

input:checked ~ label .menu{
  box-shadow: 0px 0px 0px 100vw #F5F5DC, 0px 0px 0px 100vh #F5F5DC;
}

input:checked ~ label ~ ul{
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li{
  margin: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

section{
  margin: 0rem 1rem;
  padding: 1rem 0rem;
}

section p:first-of-type {
  border-top: #0000004f 1px solid;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

section#secao1 > h1{
  font-size: 2rem;
}

section#secao1 > div{
  padding-top: 0.5rem;
  border-top: #0000004f 1px solid;
}

section#secao1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section#secao1 > div {
  margin-top: .5rem;
}

section#secao1 > div > a {
  margin: 0.2rem 0.5rem;
}